n8n-workflows/context_import.json
{
  "name": "context_import",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extract all card data from the AI response\nconst aiResponse = $('Basic LLM Chain').first().json.output;\nconst deckId = $input.first().json.id;\n\n// Find all card entries in the response\nconst cards = [];\nlet cardIndex = 1;\n\nwhile (aiResponse[`Card_${cardIndex}`]) {\n  const card = aiResponse[`Card_${cardIndex}`];\n  cards.push({\n    deck_id: deckId,\n    question: card.Q,\n    answer: card.A\n  });\n  cardIndex++;\n}\n\n// Return array of card objects\nreturn cards.map(card => ({ json: card }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        240
      ],
      "id": "fae69c6d-90bd-4c52-883f-f346cce7dfa0",
      "name": "Extract Cards"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Flashcards",
          "mode": "list",
          "cachedResultName": "Flashcards"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "deckId": "={{ $json.deck_id }}",
            "question": "={{ $json.question }}",
            "answer": "={{ $json.answer }}",
            "createdAt": "={{ $now }}",
            "updatedAt": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deckId",
              "displayName": "deckId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "seen",
              "displayName": "seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        240
      ],
      "id": "4d2f0e4d-8858-45ea-8122-4cbef937b152",
      "name": "Insert Cards",
      "credentials": {
        "postgres": {
          "id": "VNk8LXOra2ERfxFz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "Decks",
          "mode": "list",
          "cachedResultName": "Decks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.Topic }}",
            "createdAt": "={{ $now }}",
            "updatedAt": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        240
      ],
      "id": "a0c29b42-fab9-4657-9ddc-de8483de8151",
      "name": "Insert rows in a table3",
      "credentials": {
        "postgres": {
          "id": "VNk8LXOra2ERfxFz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-deck",
        "options": {
          "allowedOrigins": "*",
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        240
      ],
      "id": "d7da014a-5a26-4e64-8115-9aa7eeaee1cb",
      "name": "Webhook",
      "webhookId": "3582ce39-9b4c-4136-b8c9-f7875c9ce98b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Extract 5 question and answer pairs from the text below. Each question should focus on a distinct, meaningful point from the text, and each answer should be specific, accurate, and derived only from the content provided. Avoid yes/no questions unless contextually necessary. When text is surrounded by <important> tags ask about these facts first. Dont ask specific question about what is mentioned in the text, but about the topic that is discussed in the text.  Text: {{ $json.body.text }}  Output format:     \"Topic\": [overarching_topic],     \"Card_1\": {       \"Q\": [Question_1],       \"A\": [Answer_1]     },     \"Card_2\": {       \"Q\": [Question_2],       \"A\": [Answer_2]     },     \"Card_3\": {       \"Q\": [Question_3],       \"A\": [Answer_3]     },     \"Card_4\": {       \"Q\": [Question_4],       \"A\": [Answer_4]     },     \"Card_5\": {       \"Q\": [Question_5],       \"A\": [Answer_5]     } ... and so on."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        160,
        240
      ],
      "id": "4646533d-b1bb-4504-b68f-d662ccb0659a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Topic\": \"Generic_Topic\",\n  \"Card_1\": {\n    \"Q\": \"Generic question 1?\",\n    \"A\": \"Generic answer 1.\"\n  },\n  \"Card_2\": {\n    \"Q\": \"Generic question 2?\",\n    \"A\": \"Generic answer 2.\"\n  },\n  \"Card_3\": {\n    \"Q\": \"Generic question 3?\",\n    \"A\": \"Generic answer 3.\"\n  },\n  \"Card_4\": {\n    \"Q\": \"Generic question 4?\",\n    \"A\": \"Generic answer 4.\"\n  },\n  \"Card_5\": {\n    \"Q\": \"Generic question 5?\",\n    \"A\": \"Generic answer 5.\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        384
      ],
      "id": "b65f5439-d1ad-4627-96db-582e80f5a6db",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-7-sonnet-20250219",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        144,
        400
      ],
      "id": "b1ab413f-738f-4a7f-aa31-705dc7e2270f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "SJAIVRpkEmi88J49",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Cards": {
      "main": [
        [
          {
            "node": "Insert Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table3": {
      "main": [
        [
          {
            "node": "Extract Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Insert rows in a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44d034c5-867e-4d77-bc76-2b6580ee9300",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2dde770f3b75a1e048d658932d5eb411a8b21e77f7bfba69449c84c129c24a26"
  },
  "id": "EniEqj5PcNBFAf4h",
  "tags": []
}