n8n-workflows/feedback.json
{
  "name": "Feedback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "946dca6a-a2c4-424b-b83e-5efdd9164ecd",
      "name": "Webhook",
      "webhookId": "07e41a37-07e7-44c5-a5ab-d797990c7667"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=USE EXACTLY THIS AS THE QUERY FOR THE TOOL SEARCH: {{ $json.body.deck_title }}",
        "options": {
          "systemMessage": "You are supposed to give the user a summary of his weaknesses regarding a certain topic so that the user knows what to study best. You have access to tools that search through a graph in which all weaknesses and knowledge gaps of a user are stored. So the tools will return weaknesses only. \n\nGive one tipp on what the user should study and why and be positive. If the tool does not return any weaknesses just say \"You should be good to go!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "a9fe362a-899a-4446-96b4-54e3f02062cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "http://graphiti-mcp:8000/sse",
        "include": "selected",
        "includeTools": [
          "search_memory_facts",
          "search_memory_nodes"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        416,
        208
      ],
      "id": "9e3b96b5-72a2-4a40-8209-0dc49cc8f56f",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        208
      ],
      "id": "2a934b3c-b8a5-4887-b57e-6409a10f0762",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "b8WNbDFYnfzq5Cic",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        0
      ],
      "id": "78367390-09f9-408f-8c0f-b1e44f29ec7c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "deck_title": "Python"
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "375a98ec-8f0e-4424-9dd2-79c19da058d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "427d115aa44fde43cc4dfa6d27acc9d6e385112c0d4fc9eb1827fb04ee64f691"
  },
  "id": "fZWQGmfmZv21Ab34",
  "tags": []
}