n8n-workflows/feedback.json
{
  "name": "feedback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1d06ff2c-6832-4d92-9fcf-c4229dde069f",
      "name": "Webhook",
      "webhookId": "07e41a37-07e7-44c5-a5ab-d797990c7667"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.deck_title }}",
        "options": {
          "systemMessage": "You are supposed to give the user a summary of his weaknesses regarding a certain topic so that the user knows what to study best. You have access to tools that search through a graph in which all weaknesses and knowledge gaps of a user are stored. So the tools will return weaknesses only. \n\nGive three tipps on what the user should study and why and be positive."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "614b06fd-f36d-4e4c-9677-8e974b4bddf4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "http://graphiti-mcp:8000/sse",
        "include": "selected",
        "includeTools": [
          "search_memory_facts",
          "search_memory_nodes"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        416,
        208
      ],
      "id": "416131b8-883f-41af-9793-c2044473f4fb",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        208
      ],
      "id": "3f3915c7-547d-4950-b856-9508cfda050d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PDTC6OAqEMb8Vgfj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        0
      ],
      "id": "2edb8a3e-a3fe-4151-b115-380f029da2ea",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "deck_title": "Python"
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e3cd871-86e5-4ca4-9735-100eef63c131",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "12f13ca9cbb9f197fb6db79405d0185629831f9abcdf7768946d944fc40f8cc9"
  },
  "id": "7CApWRxmjzNdRTY5",
  "tags": []
}