n8n-workflows/Save Weakness.json
{
  "name": "Save Weakness",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weakness",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "id": "444975ee-6037-4a63-ac34-362777f04734",
      "name": "Webhook",
      "webhookId": "f1d5f642-ae61-49d1-b5ee-34ff2bee46a9"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        240
      ],
      "id": "1ff14a19-84ac-4dc7-9ee1-dd003eb62b01",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fPQeumCq99mcw6ry",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "http://graphiti-mcp:8000/sse",
        "include": "selected",
        "includeTools": [
          "add_memory"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        880,
        240
      ],
      "id": "e8d8cbf4-4862-45bc-896b-ea1fa11b93f4",
      "name": "MCP Client",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        180
      ],
      "id": "5862632f-1a12-4e76-9c8a-1e87befd6a5c",
      "name": "When chat message received",
      "webhookId": "2287bcb3-c9db-4a83-9559-3c7e56c98797"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an assistant that identifies missing or unclear knowledge from a discussion on a specific topic.\nYour task is to analyze the chat and extract what is not known, uncertain, or potentially misunderstood, phrased as explicit knowledge gaps.\n\n\nOnly include genuine gaps in understanding or missing facts. \nDo not list information that is already clearly stated or generally known.\nRespond with short sentences including the gaps and also the context.\n\nExample Input:\n{\"chat\": [\"question\": \"What does a bike consist of?\", \"answer\": \"It has two wheels and a saddle\", \"question\": \"Great, anything else?\" \"answer\": \"A handlebar and a frame\", \"question\": \"Do you know what types of bicycles are there and what they are used for?\", \"answer\": \"city bikes for sustainable mobility and racing bikes for fun\"], \"solution\": \"Bicycles are environmentally friendly means of transportation powered by muscle strength. They typically consist of a frame, two wheels, handlebars, a saddle, and pedals. There are various types of bicycles – including city bikes, mountain bikes, racing bikes, trekking bikes, and e-bikes. They differ in design and intended use.\nBicycles are not only practical for everyday use and commuting to work but also promote health by strengthening the cardiovascular system and muscles. In many cities, they are becoming increasingly important for sustainable mobility.\"}\n\nExample Output:\nPedals are not mentioned as a bicycle component. Types of bikes like mountain bikes, trekking bikes, and e-bikes are missing. The health benefits of cycling (e.g., cardiovascular and muscular improvements) are not mentioned. The role of bikes in everyday commuting is not covered. No mention of bikes being powered by muscle strength. Bicycles' increasing importance in urban sustainable mobility is only partly addressed.\nThe system asks what a bike consists of, and the answer includes two wheels, a saddle, handlebars, and a frame. When asked if there's anything else, no additional parts are mentioned. The system then asks about types of bicycles and their uses, and the response mentions city bikes for sustainable mobility and racing bikes for fun.\n",
              "role": "system"
            },
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        80,
        0
      ],
      "id": "8b2ca475-b97a-43f2-9878-b049e63476dd",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "fPQeumCq99mcw6ry",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.content }}",
        "options": {
          "systemMessage": "Store the information about all of the users misconceptions and knowledge gaps in a knowledge graph that represents the users misconceptions. Always set the episode_body as a unstructured text. For each gap use a separate function call."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "32e8734c-57d0-4f0f-8682-55a2f6e8e8b8",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97a85774-6132-473b-98f8-eddc8d5d25c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58372434a2f72b44f89835f77ca2cc9d557f4359b8fe4e69017475e11efa5fab"
  },
  "id": "K5KYvavbMkG0Hc6c",
  "tags": []
}